<section class="bg-white text-center">
	<div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-16 lg:px-6">
		<div class="mx-auto mb-8 max-w-screen-md lg:mb-16">
			<h2 class="mb-4 text-2xl font-medium">จุดเด่นของแบบประกัน</h2>
			<h1 class="text-4xl font-bold text-primary">เซฟวิ่ง ซูเปอร์โฟร์ 10/4</h1>
		</div>
		<!-- Grid Layout -->
		<div class="mx-auto grid max-w-screen-lg gap-10 sm:grid-cols-1 lg:grid-cols-2">
			<div class="space-y-3">
				<img src="/insurance/pa480/1.svg" class="mx-auto" />
				<h3 class="mb-2 text-xl font-bold">ออมสั้น คุ้มครองยาว</h3>
				<p class="px-6 text-lg text-gray-500 md:px-0">
					ชำระเบี้ยประกันเพียง 4 ปี คุ้มครองนานถึง 10 ปี
				</p>
			</div>
			<div class="space-y-3">
				<img src="/insurance/pa480/2.svg" class="mx-auto" />
				<h3 class="mb-2 text-xl font-bold">รับเงินคืนทุกปี</h3>
				<p class="px-6 text-lg text-gray-500 md:px-0">
					รับเงินคืน 4% ของจำนวนเงินเอาประกันภัยทุกปี ณ สิ้นปีกรมธรรม์ตลอด 10 ปี
				</p>
			</div>
			<div class="space-y-3">
				<img src="/insurance/pa480/3.svg" class="mx-auto" />
				<h3 class="mb-2 text-xl font-bold">ผลประโยชน์สูงสุด</h3>
				<p class="px-6 text-lg text-gray-500 md:px-0">
					ผลประโยชน์รวมสูงถึง 440% ของจำนวนเงินเอาประกันภัย
				</p>
			</div>
			<div class="space-y-3">
				<img src="/insurance/pa480/4.svg" class="mx-auto" />
				<h3 class="mb-2 text-xl font-bold">รับประกันทุกช่วงอายุ</h3>
				<p class="px-6 text-lg text-gray-500 md:px-0">
					รับประกันตั้งแต่อายุ 30 วัน สูงสุดถึง 70 ปี
				</p>
			</div>
		</div>
	</div>
</section>
