<section class="bg-white">
	<div class="container mx-auto bg-sky-50 md:rounded-3xl">
		<div class="space-y-6 p-6 md:p-12">
			<img src="/insurance/pa1680/2.png" alt="SSF104 Plan" class="rounded-xl" />
			<p class="text-lg text-primary md:text-xl">
				อัตราเบี้ยประกันภัยต่อจำนวนเงินเอาประกันภัย 1,000 บาท (เท่ากันทั้งเพศชายและหญิง)
			</p>
			<!-- ตาราง -->
			<div class="overflow-x-auto">
				<table class="w-full text-left text-gray-600 md:text-lg">
					<thead class="border-t-4 border-sky-200 bg-sky-100 text-gray-700">
						<tr class="border-b-2">
							<th scope="col" class="border-r-2 px-6 py-4 font-medium">อายุ</th>
							<th scope="col" class="px-6 py-4 font-medium"
								>อัตราเบี้ยประกันภัยต่อจำนวนเงินเอาประกันภัย 1,000 บาท</th
							>
						</tr>
					</thead>
					<tbody class="bg-white">
						<tr class="border-b-2">
							<td class="border-r-2 px-6 py-4">30 วัน - 70 ปี</td>
							<td class="px-6 py-4">1,000 บาท</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
