<div class="mt-12 w-full md:px-40 lg:px-80">
	<div class="w-full bg-clip-padding p-4 backdrop-blur-sm backdrop-filter md:mb-6 md:text-center">
		<h1 class="text-center text-2xl font-bold text-primary lg:text-4xl">
			ทำไมต้องร่วมงานกับเรา SSP
		</h1>
	</div>
	<div
		class="grid grid-cols-1 text-white [text-shadow:_4px_4px_6px_#000000] md:grid-cols-2 md:gap-4"
	>
		<div class="grid md:gap-4">
			<div
				class="h-auto min-h-[300px] w-full overflow-hidden rounded-none bg-cover bg-left-bottom bg-no-repeat md:rounded-xl"
				style="background-image: url(./feature/1.jpg);"
			>
				<div class="h-full w-full content-center bg-black/10 bg-clip-padding p-8 md:p-12">
					<div class="text-center">
						<h3 class="mb-6 text-4xl font-semibold">มีรายได้ประจำ</h3>
						<p class="text-2xl">
							รับเงินเดือนประจำทุกเดือน มีโบนัสสะสมทุกปี ยิ่งทำมากยิ่งมีรายได้มาก
						</p>
					</div>
				</div>
			</div>

			<div
				class="h-auto min-h-[300px] w-full overflow-hidden rounded-none bg-cover bg-left-bottom bg-no-repeat md:rounded-xl"
				style="background-image: url(./feature/2.jpg);"
			>
				<div class="h-full w-full content-center bg-black/10 bg-clip-padding p-8 md:p-12">
					<div class="text-center">
						<h3 class="mb-6 text-4xl font-semibold">ระบบใช้งานง่าย</h3>
						<p class="text-2xl">มีเพียงมือถือแค่เครื่องเดียวก็สามารถทำงานได้ ทุกที่ ทุกเวลา</p>
					</div>
				</div>
			</div>
		</div>
		<div class="grid md:gap-4">
			<div
				class="h-auto min-h-[300px] w-full overflow-hidden rounded-none bg-cover bg-right-bottom bg-no-repeat md:rounded-xl"
				style="background-image: url(./feature/3.jpg);"
			>
				<div class="h-full w-full content-center bg-black/10 bg-clip-padding p-8 md:p-12">
					<div class="text-center">
						<h3 class="mb-6 text-4xl font-semibold">พันธมิตรที่แข็งแกร่ง</h3>
						<p class="text-2xl">
							เรามีบริษัทพันธมิตรมากมาย ที่ช่วยขับเคลื่อนให้ธุรกิจเติบโตไปอย่างมั่นคง
						</p>
					</div>
				</div>
			</div>

			<div
				class="h-auto min-h-[300px] w-full overflow-hidden rounded-none bg-cover bg-right-bottom bg-no-repeat md:rounded-xl"
				style="background-image: url(./feature/4.jpg);"
			>
				<div class="h-full w-full content-center bg-black/20 bg-clip-padding p-8 md:p-12">
					<div class="text-center">
						<h3 class="mb-6 text-4xl font-semibold">พร้อมดูแล</h3>
						<p class="text-2xl">เรามีทีมงานมืออาชีพพร้อมดูแลให้คำปรึกษาในการทำงานทุกขั้นตอน</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
