<footer class="bg-white" id="footer">
	<div class="mx-auto w-full max-w-screen-xl p-4 md:py-8">
		<div class="invisible sm:flex sm:items-center sm:justify-between">
			<ul class="mb-6 flex flex-wrap items-center text-sm font-medium text-gray-500 sm:mb-0">
				<li>
					<a href="#" class="me-4 hover:underline md:me-6">About</a>
				</li>
				<li>
					<a href="#" class="me-4 hover:underline md:me-6">Privacy Policy</a>
				</li>
				<li>
					<a href="#" class="me-4 hover:underline md:me-6">Licensing</a>
				</li>
				<li>
					<a href="#" class="hover:underline">Contact</a>
				</li>
			</ul>
		</div>
		<hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
		<span class="block text-sm text-primary sm:text-center"
			>© 2025 SSP SAEKKRIFAI SIR CO., LTD. All Rights Reserved.</span
		>
	</div>
</footer>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const currentPath = window.location.pathname

		const hideFooter = currentPath.startsWith('/insurance') || currentPath.startsWith('/submit')

		if (hideFooter) {
			const footer = document.getElementById('footer')

			if (footer) {
				footer.classList.add('hidden')
			}
		}
	})
</script>
