<nav class="fixed start-0 top-0 z-20 w-full border-b border-gray-200 bg-white">
	<div class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4">
		<a class="flex items-center space-x-3 rtl:space-x-reverse" href="/">
			<img src="/logo/SSP_Logo_Pic.svg" class="h-10 md:h-12" alt="SSP Logo" />
			<img src="/logo/SSP_Logo_Text.svg" class="h-8" alt="SSP Logo Text" />
		</a>
		<div class="flex space-x-3 md:order-2 md:space-x-0 rtl:space-x-reverse">
			<button
				type="button"
				class="rounded-2xl bg-gradient-to-r from-sky-500 via-sky-700 to-primary px-4 py-2 text-center text-sm font-medium text-white focus:ring-2 focus:ring-blue-300"
				>เข้าสู่ระบบ</button
			>
			<button
				data-collapse-toggle="navbar-sticky"
				type="button"
				class="hidden h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 md:hidden"
				aria-controls="navbar-sticky"
				aria-expanded="false"
				><!-- inline-flex -->
				<span class="sr-only">Open main menu</span>
				<svg
					class="h-5 w-5"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 17 14"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M1 1h15M1 7h15M1 13h15"></path>
				</svg>
			</button>
		</div>
		<div class="hidden w-full items-center justify-between md:order-1 md:w-auto" id="navbar-sticky">
			<!-- md:flex  -->
			<ul
				class="mt-4 flex flex-col rounded-lg border border-gray-100 bg-gray-50 p-4 font-medium md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-white md:p-0 rtl:space-x-reverse"
			>
				<li>
					<a
						href="#"
						class="block rounded bg-blue-700 px-3 py-2 text-white md:bg-transparent md:p-0 md:text-blue-700"
						aria-current="page">หน้าแรก</a
					>
				</li>
				<li>
					<a
						href="#"
						class="block rounded px-3 py-2 text-gray-900 hover:bg-gray-100 md:p-0 md:hover:bg-transparent md:hover:text-blue-700"
						>เกี่ยวกับเรา</a
					>
				</li>
				<li>
					<a
						href="#"
						class="block rounded px-3 py-2 text-gray-900 hover:bg-gray-100 md:p-0 md:hover:bg-transparent md:hover:text-blue-700"
						>บริการ</a
					>
				</li>
				<li>
					<a
						href="#"
						class="block rounded px-3 py-2 text-gray-900 hover:bg-gray-100 md:p-0 md:hover:bg-transparent md:hover:text-blue-700"
						>ติดต่อเรา</a
					>
				</li>
			</ul>
		</div>
	</div>
</nav>
