---
const currentPath = Astro.url.pathname
const pathSegments = currentPath.split('/').filter(Boolean)
const productId = pathSegments.pop()
const imagePath = `/insurance/${productId}/1.jpg`
---

<section class="relative z-10 w-full pt-20 md:pt-24">
	<div
		class="relative aspect-square w-full overflow-hidden sm:mx-auto sm:max-w-[500px] md:max-w-[600px] lg:max-w-[720px]"
	>
		<img
			src={imagePath}
			alt={`Header Image for ${productId}`}
			class="absolute left-0 top-0 block h-full w-full object-cover"
		/>
	</div>
</section>
